html {
  height: 72.8px;
  width: 1536px;
  min-width: 72px;
  bottom: 622.4px;
  margin: 0;
}

#header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  width: 120%;
  height: 72px;
  margin-left: 7vh;
}
.topBannerImg {
  width: 150%;
  height: 78px;
  margin-top: -5vh;
  position: relative;
  margin-bottom: 3vh;
}

.headerBanner {
  position: absolute;
  width: 100%;
  top: 50%;
  bottom: 50%;
  transform: translate(-8%);
}

a {
  text-decoration: none;
  color: black;
}

.headerImg {
  height: 60px;
  width: 100%;
  margin-bottom: -35px;
  margin-left: 180px;
  margin-right: -50px;
}

.mainSector {
  max-width: 50%;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex: 1; /* 남은 공간을 차지해서 가운데 위치 */
}

form {
  max-width: 100%;
  margin-top: 30px;
}

.headerBtn {
  font-size: small;
  margin-top: 55px;
  margin-bottom: 10px;
  height: 40px;
  width: 55%;
  margin-left: 0px;
  background-color: transparent;
}

.headerBtn:hover {
  color: #8d6e63;
  cursor: pointer;
}

.headerBtn a {
  color: black;
  margin-bottom: 50px;
}

.mypage {
  margin-left: -7vh;
  margin-right: 200px;
}

.dropdown {
  display: flex; /* Flexbox를 사용해 수평 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border: solid 2px lightgray;
  border-radius: 5px;
  width: 600px;
  height: 45px;
  padding: 0 10px; /* 내부 여백 추가 */
  box-sizing: border-box;
  gap: 10px; /* 요소 간 여백 설정 */
  margin-top: 65px;
  margin-left: -4vh;
  margin-right: 8vh;
  overflow: hidden;
}

#dropdownBtn {
  max-width: 100%;
  border: none;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 4px;
  overflow: hidden;
}

.dropdownBtnImg {
  max-width: 100%;
  padding-bottom: 7px;
  overflow: hidden;
  margin-top: 8px;
}

input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  margin-top: 1px;
  max-width: 100%;
  overflow: hidden;
}

.search-img {
  width: 35px; /* 이미지 크기 */
  height: 30px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 15px;
  margin-right: -2vh;
}

.row-hr {
  display: inline-block;
  border-left: thin solid lightgray;
  height: 30px;
}

.keyword {
  display: flex;
  max-width: 100%;
  max-height: 45px;
  justify-content: center;
  font-size: small;
  color: #212124;
  margin-bottom: 30px;
  align-items: center;
  font-weight: bolder;
  margin-top: 2vh;
  margin-left: -9vh;
  margin-right: 10vh;
}

.keyword a {
  display: flex;
  max-width: 100%;
  max-height: 45px;
  font-size: small;
  color: #96a6b3;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.keyword a:hover {
  text-decoration: underline;
}

.banner img {
  height: 470px;
  width: 1920px;
  margin-top: 7vh;
  margin-left: -1vh;
  margin-bottom: 30px;
}

div h2 {
  margin-left: 25%;
  width: 60%;
}

.kategoryWrap {
  display: flex;
  justify-content: center;
  gap: 5vh;
  width: 60%;
  transition: transform 1s;
  margin-left: 25%;
}

.kategory {
  max-width: 1400px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  display: flex;
  justify-content: space-evenly;
}

.kategoryH {
  align-items: center;
  height: 174px;
  width: 100%;
  margin-top: -5%;
  gap: 11vh;

  /* 기존 gap 값을 수정 */
}

.kategoryH a {
  text-align: center; /* 텍스트 가운데 정렬 */
  display: inline-block; /* 인라인 블록 요소 */
  width: 100px; /* 각 항목의 너비 고정 */
}

.camera {
  transform: translateY(10px);
}

.carousel_container {
  overflow: hidden; /* 캐러셀 외부 영역 숨김 */
  position: relative; /* 버튼과 페이지네이션의 절대 위치 기준 */
  width: 100%;
  max-width: 1200px; /* 최대 너비 지정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.carousel_wrapper {
  display: flex;
  transition: transform 1s;
}

.carousel_item {
  min-width: 100%; /* 부모 너비를 가득 채움 */
  display: flex;
  flex-direction: column;
  align-items: center; /* 세로 정렬 */
  justify-content: center; /* 가로 정렬 */
}

/* 캐러셀 버튼 */
.carousel_button_container {
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: -7vh;
}

.carousel_prev,
.carousel_next {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 20%;
}

footer {
  min-height: 20vh;
  height: 60px;
  position: relative;
  margin-top: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-left: 16%;
  display: flex;
  flex-direction: column;
  color: #96a6b3;
}
